<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="../view/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2 class="text-center">Login</h2>
            <br>
            <form class="" action="#" method="POST">
                <div class="from-group">
                    <label for="email">Email: </label>
                    <input class="form-control" type="email" name="email" value="">
                    <label for="pass">Password: </label>
                    <input class="form-control" type="password" name="pass" value="">
                    <br>
                    <div class="text-center">
                        <button type="submit" name="button" class="btn btn-primary btn-lg">Login</button>
                    </div>
                </div>
            </form>
            <br>
            <div class="text-center">
                <a href="register.php">Create new account</a>
            </div>
        </div>
    </body>
    <script src="../view/js/bootstrap.min.js" charset="utf-8"></script>
</html>
